.image-select-dialog {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  border: solid 1px black;
  border-radius: 25px;

  z-index: 1;

  padding: 1rem;

  background-color: white;

  width: 75vw;
}

.image-select-dialog__heading {
  margin: 0.5em 0;
}

.image-select-dialog__block {
  border-bottom: solid 1px black;
}

.image-select-dialog__preset-images-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  > div {
    width: 33%;
    margin: auto;
  }

  img {
    width: 100%;
  }
}

.image-select-dialog__image--selected {
  border: solid 3px green;
}
