html, body {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
}

.main-canvas {
  border: solid 1px black;
}

.main-container {
  width: 100%;
  margin: 0 1em;
}

.canvas-wrapper {
  width: 100%;
  position: relative;
}

.application-ui {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;

  * {
    pointer-events: all;
  }
}


.app-header {
  margin-bottom: 1em;
  margin-left: 1em;
}

.app-name {
  margin: 0;
}

.footer {
  margin: 1em 1em;
}
