.color-select-dialog {
  padding: 1rem;

  width: 50%;
  max-width: 300px;
}

.color-select-dialog__block {
  border-bottom: solid 1px black;
  padding-bottom: 1em;
}

.color-select-dialog__heading {
  margin: 0.5em 0;
}

.color-select-dialog__bottom-buttons {
  display: flex;
  justify-content: space-around;

  margin-top: 1em;

  button {
    font-size: 1.3em;
  }
}
